@charset "UTF-8";
:root {
  --background: #242331aa;
  --background-black: #242331ff;
  --caf-noir: #533e2dff;
  --golden-brown: #a27035ff;
  --lion: #b88b4aff;
  --citron: #ddca7dff;
}

html, body, #game {
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

#game {
  position: relative;
  font-family: monogram, monospace;
}

.hidden {
  display: none !important;
}

#inGameUI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
#inGameUI #defenderPlacementArea {
  position: absolute;
  top: 27.7777777778vh;
  topBase: 27.7777777778vh;
  left: 0;
  height: 72.2222222222vh;
  heightBase: 72.2222222222vh;
  width: 39.0625vw;
  widthBase: 39.0625vw;
  background-color: rgba(0, 255, 0, 0.3);
}
#inGameUI img {
  -ms-interpolation-mode: nearest-neighbor; /* IE 7+ (не стандартное свойство) */
  image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
  image-rendering: -webkit-crisp-edges; /* Safari 7+ */
  image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
  image-rendering: -o-crisp-edges; /* Opera 12 */
  image-rendering: pixelated; /* Chrome 41+ and Opera 26*/
}
@media (max-width: 767px) {
  #inGameUI #coin_icon {
    width: calc(12px + 13.6 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  #inGameUI #coin_icon {
    width: calc(12px + 8 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  #inGameUI #coin_icon {
    height: calc(12px + 13.6 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  #inGameUI #coin_icon {
    height: calc(12px + 8 * (100vw / 1280));
  }
}
#inGameUI #waveControl {
  pointer-events: all !important;
  position: absolute;
  right: 5%;
  bottom: 30%;
}
#inGameUI #waveControl .btn {
  border: none;
  outline: none;
  color: white;
  overflow: hidden;
  font-size: 2.55vw;
  font-family: monogram, monospace;
  transition: 0.4s;
  appearance: none;
  background-color: var(--background);
  border-radius: 5px;
  padding: 0;
}
@media (max-width: 767px) {
  #inGameUI #waveControl .btn {
    width: calc(100px + 136 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  #inGameUI #waveControl .btn {
    width: calc(100px + 80 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  #inGameUI #waveControl .btn {
    height: calc(20px + 68 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  #inGameUI #waveControl .btn {
    height: calc(20px + 40 * (100vw / 1280));
  }
}
#inGameUI #waveControl .btn.inf-game {
  font-size: 1.785vw;
}
#inGameUI #waveControl .btn:not([disabled]):hover {
  cursor: pointer;
  transform: scale(1.1);
}
#inGameUI #gameUnits {
  pointer-events: all !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}
#inGameUI #gameUnits .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#inGameUI #gameUnits .item img {
  width: auto;
  height: auto;
}
#inGameUI #gameUnits .item p {
  margin: 0;
}
@media (max-width: 767px) {
  #inGameUI #gameUnits .item p {
    font-size: calc(12px + 20.4 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  #inGameUI #gameUnits .item p {
    font-size: calc(12px + 12 * (100vw / 1280));
  }
}

.ui #money_text_container {
  margin: 10px;
}
@media (max-width: 767px) {
  .ui #money_text_container {
    font-size: calc(12px + 34 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .ui #money_text_container {
    font-size: calc(12px + 20 * (100vw / 1280));
  }
}

.ui #not_enough_money_text {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .ui #not_enough_money_text {
    font-size: calc(12px + 88.4 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .ui #not_enough_money_text {
    font-size: calc(12px + 52 * (100vw / 1280));
  }
}
.ui #not_enough_money_text.start-animation {
  animation: 2s linear 0s normal none not-enough-money;
  -webkit-animation: 2s linear 0s normal none not-enough-money;
  -moz-animation: 2s linear 0s normal none not-enough-money;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  background-color: var(--background);
  border-radius: 5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu > * {
  align-self: center;
}

.menu .btn {
  width: 50%;
  height: 15%;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
  color: white;
  font-family: monogram, monospace;
  transition: 0.4s;
  appearance: none;
}
@media (max-width: 767px) {
  .menu .btn {
    font-size: calc(12px + 61.2 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .menu .btn {
    font-size: calc(12px + 36 * (100vw / 1280));
  }
}

.menu .text {
  font-family: monogram, monospace;
}
@media (max-width: 767px) {
  .menu .text {
    font-size: calc(12px + 61.2 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .menu .text {
    font-size: calc(12px + 36 * (100vw / 1280));
  }
}

.menu .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.menu .btn:hover:before {
  position: absolute;
  margin-left: -30px;
  content: ">";
}

.menu .title {
  margin: 10% auto 10%;
}
@media (max-width: 767px) {
  .menu .title {
    font-size: calc(16px + 81.6 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .menu .title {
    font-size: calc(16px + 48 * (100vw / 1280));
  }
}

@keyframes not-enough-money {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
